<div class="bg-dark text-white h-100">

    <div class="p-4">

        <h3>🛫 SkyAlert</h3>

        <small class="text-secondary">
            Control Center
        </small>

        <hr>

        <div class="list-group list-group-flush">

            <a
                href="/"
                class="list-group-item list-group-item-action bg-dark text-white border-0"
            >
                🏠 Dashboard
            </a>


            <a
                href="/aircraft"
                class="list-group-item list-group-item-action bg-dark text-white border-0"
            >
                📡 Live Aircraft
            </a>


            <a
                href="/settings"
                class="list-group-item list-group-item-action bg-dark text-white border-0"
            >
                ⚙️ Configuration
            </a>

        </div>

    </div>

</div>
